* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-y: auto;
  overflow-y: overlay;
}

:root {
  --text-color: #fff;
  --text-hover-color: rgba(107, 19, 158, 0.4);
  --nav-item-bg-color: #fff;
  --linear-gradient: linear-gradient(to right bottom,rgba(222,83,71, .6) 0%, rgba(75,138,244, .6) 100%);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: var(--linear-gradient);
}

/******************************* scroll bar start ************************************/
::-webkit-scrollbar{
  width: 6px;
  height: 6px;
  border-radius: 3px;
}
::-ms-scrollbar{
  width: 6px;
  height: 6px;
  border-radius: 3px;
}
:-ms-scrollbar{
  width: 6px;
  height: 6px;
  border-radius: 3px;
}
::-o-scrollbar{
  width: 6px;
  height: 6px;
  border-radius: 3px;
}
::scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb{
  background: #a5b2e7;
  border-radius: 3px;
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0,0,0,.25);
}
::-ms-scrollbar-thumb{
  background: #a5b2e7;
  border-radius: 3px;
  box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}
:-ms-scrollbar-thumb{
  background: #a5b2e7;
  border-radius: 3px;
  box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}
::-o-scrollbar-thumb{
  background: #a5b2e7;
  border-radius: 3px;
  box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}
::scrollbar-thumb {
  background: #a5b2e7;
  border-radius: 3px;
  box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

::-webkit-scrollbar-track{
  background: transparent;
}
::-ms-scrollbar-track{
  background: transparent;
}
:-ms-scrollbar-track{
  background: transparent;
}
::-o-scrollbar-track{
  background: transparent;
}
::scrollbar-track {
  background: transparent;
}
/******************************* scroll bar end ************************************/